.navbar-inverse {

	.navbar-inner {
		#gradient > .vertical(#505257, #2e3035);
		padding: 0 20px 0 25px;

		a {
			color: #ffffff;
		}
	}
}

.container-fluid.board {
	background: url(../../img/bg/bg-board.jpg);
	padding: 0;

	.board-wrap {
		margin-right: 7px;

		.column-header {
			font-size: 13px;
			color: #ffffff;
			text-align: center;

			span {
				font-size: 15px;
				font-weight: normal;
				.border-radius(15px);
				background: url(../../img/bg/bg-transparent.png);
				padding: 6px 15px 6px 15px;
			}
		}

		.task-column-header {
			margin-top: 15px;
			height: 35px;
			border-left: 7px solid #000000;

			.task-column-header-number {
				display: block;
				float: left;
				width: 70px;
				height: 27px;
				padding-top: 8px;
				background-color: #000000;
				text-align: center;

				a {
					color: #ffffff;
				}
			}

			.task-column-header-title {
				display: block;
				float: left;
				color: white;
				padding: 8px 20px 0 12px;
              font-weight: bold;
			}
		}

		.feature-line,
		.parentless-line {
			border-left: 7px solid #000000;
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
		}
	}
}





.column-line {
	padding: 20px;
	min-height:230px;
	background: url(../../img/bg/bg-transparent.png);
}

.column-line_task {
	min-height:100px;
}

.task-item {
	margin-bottom: 20px;
	padding: 0 10px 0px 10px;
	background-color: #fbf0ac;
    box-shadow: 1px 2px 5px -2px #000000;

  .task-item_header {
      .clearfix;
      margin: 0 -10px;
      padding: 5px 10px;
      border-bottom: 1px solid #d8c870;
      background-color: #eddd82;

      a{
        color: #584A09;
        font-size: 11px;
      }
  }

    &.task{

    }

    &.us{
      background: #D8F8FF;
      .task-item_header {
        background: #A7E2EF;
        border-bottom: 1px solid #92CBD8;

        a{
          color: #17736D;
        }
      }
    }

    &.bug{
      background: #FAE0EF;
      .task-item_header {
        background: #DE95C1;
        border-bottom: 1px solid #C27AA5;

        a{
          color: #8D356A;
        }
      }
    }
}


  .task-item_content {
    padding-top: 8px;
      h5 {
        font-size: 13px !important;
        padding: 0 !important;
        margin: 0;
      }

      p {
          font-size: 12px;
          line-height: 14px;
      }
  }

  .task-item_info {
      padding: 10px 0;

      .task-item_time {
          float: right;
          padding: 2px 0;
      }
  }