.modal {

	form {
		margin: 0 !important;
	}

	.task-edit-body {

		textarea {
			min-height: 150px;
			width: 515px !important;
		}
	}

	.task-edit-performer {

		select {
			width: 115px;
			margin: 0 !important;
		}
	}
}

